dataobjects-spec/src/main/resources/xsd/context/1.0/context.xsd


<!--
	Changes applied to this schema (since Version 03, Februar, 2008):
	- Februar, 2008
	- version changed to 04.
	
	- changed namespace (both xmlns and targetNamespace)
	from http://www.escidoc.de/schemas/context/0.3 
	to http://www.escidoc.de/schemas/context/0.4.
	-changed namespaces of refered schemas:
	from http://www.escidoc.de/schemas/commontypes/0.3
	to http://www.escidoc.de/schemas/commontypes/0.4
	- refered new schemas with namespaces:
	xmlns:prop="http://escidoc.de/core/01/properties/
	xmlns:srel="http://escidoc.de/core/01/structural-relations/
	moved admin-descriptor from separate namespace to context
	
	- changed namespaces of direct child-elements of the element 
	/context/properties:
	
	For elements creation-date, name, description, type, public-status, 
	changed a namespace
	from http://www.escidoc.de/schemas/context/0.3
	to http://escidoc.de/core/01/properties/ 
	
	For elements created-by, modified-by
	changed a namespace
	from http://www.escidoc.de/schemas/context/0.3
	to http://escidoc.de/core/01/structural-relations/ 
	
	Deleted a reference to the schema with a namespace:
	http://www.escidoc.de/schemas/admindescriptor/0.3
	Element admin-descriptors added to carry more than one admin-descriptor. 
	The element admin-decriptor is now defined within the context and has a
	attribute name to identify each section. The value of attribute name has to
	be unique, is limited to 64 character and does not have white spaces. 
	
	April, 2008
	- version changed to 0.5
	- Set minOccurs of admin-descriptor to 0.
	
	May, 2008
	- version changed to 0.6
	- added properties/public-status-comment
	
	August 2009
	- version changed to 0.7
	- removed member-refs from Resources.
	- changed a type of the attribute /context/admin-descriptors/admin-descriptor/@name
    
  August 2012
  - version changed to 1.0
  - change namespace-identifiers to http://www.escidoc.org/schemas/<resource>/1.0/<xsd-name>

-->

<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.escidoc.org/schemas/context/1.0/context"
           xmlns:context="http://www.escidoc.org/schemas/context/1.0/context"
           xmlns:common-types="http://www.escidoc.org/schemas/common/1.0/common-types"
           xmlns:prop="http://escidoc.de/core/01/properties/"
           xmlns:srel="http://escidoc.de/core/01/structural-relations/">

  <xs:import namespace="http://escidoc.de/core/01/properties/" schemaLocation="../../common/1.0/properties.xsd"/>
  <xs:import namespace="http://escidoc.de/core/01/structural-relations/" schemaLocation="../../common/1.0/structural-relations.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/common-types" schemaLocation="../../common/1.0/common-types.xsd"/>

  <xs:element name="context" type="context:contextType"/>
  <xs:element name="properties" type="context:contextPropertiesType"/>
  <xs:element name="resources" type="context:contextResourcesType"/>
  <xs:element name="members" type="common-types:readOnlyLink"/>
  <xs:element name="member-refs" type="common-types:readOnlyLink"/>
  <xs:element name="relations" type="common-types:readOnlyLink"/>
  <xs:element name="admin-descriptors" type="context:adminDescriptorsType"/>
  <xs:element name="admin-descriptor" type="context:adminDescriptorType"/>
  
  <xs:complexType name="contextType">
    <xs:annotation>
      <xs:documentation>
        <para>
          Following you will find information which elements and attributes are "required", "optional", "not-allowed"
          or will be "discarded" in the input XML-stream when creating or updating such an object.
        </para>
        <para>
          In "create" the rule for creating a new object is defined.
        </para>
        <para>
          In "update" the rule for updating an object is defined.
        </para>
        <para>
          Possible values are: required | optional | not-allowed | discarded
        </para>
        <para>
          required: this element or attribute has to be delivered
        </para>
        <para>
          optional: this element or attribute can be delivered and will be kept
        </para>
        <para>
          not-allowed: this element or attribute is not allowed in delivery and will cause an exception
        </para>
        <para>
          discarded: this element or attribute can be delivered but will not be used
        </para>
      </xs:documentation>
      <xs:documentation>
        <create>required</create>
        <update>required</update>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="context:properties">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="context:resources" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="context:admin-descriptors" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>optional</create>
            <update>optional</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:eSciDocResourceIdentityAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
  </xs:complexType>

  <xs:complexType name="contextPropertiesType">
    <xs:sequence>
      <xs:element ref="prop:creation-date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srel:created-by" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srel:modified-by" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="prop:public-status" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="prop:public-status-comment" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="prop:name">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="prop:description" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="prop:type">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="prop:organizational-units">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:eSciDocResourceIdentityAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
  </xs:complexType>

  <xs:complexType name="contextResourcesType">
    <xs:sequence>
      <xs:element ref="context:members" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="context:member-refs" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="context:relations" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:eSciDocResourceLinkAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
  </xs:complexType>

  <xs:complexType name="adminDescriptorsType">
    <xs:sequence>
      <xs:element ref="context:admin-descriptor" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
  </xs:complexType>

  <xs:complexType name="adminDescriptorType">
    <xs:sequence>
      <xs:any processContents="skip"/>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
    <xs:attribute name="name" type="common-types:NCName64" use="required">
      <xs:annotation>
        <xs:documentation>
          <create>required</create>
          <update>required</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>