dataobjects-spec/src/main/resources/xsd/user-account/1.0/permission-filter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.escidoc.org/schemas/aa/user-account/1.0/permission-filter"
           xmlns:filter="http://www.escidoc.org/schemas/aa/user-account/1.0/permission-filter"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:element name="result" type="filter:resultType"/>
  <xs:element name="filter" type="xs:string"/>

  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element ref="filter:filter"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>