dataobjects-spec/src/main/resources/xsd/item/1.0/item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Changes applied to this schema (since Version 03, Februar, 2008):
  - Februar, 2008
  - version changed to 04.

  - changed namespace (both xmlns and targetNamespace)
  from http://www.escidoc.de/schemas/item/0.3
  to http://www.escidoc.de/schemas/item/0.4.
  -changed namespaces of refered schemas:
  from http://www.escidoc.de/schemas/components/0.3
  to http://www.escidoc.de/schemas/components/0.4
  from http://www.escidoc.de/schemas/metadatarecords/0.3
  to http://www.escidoc.de/schemas/metadatarecords/0.4
  from http://www.escidoc.de/schemas/commontypes/0.3
  to http://www.escidoc.de/schemas/commontypes/0.4
  - refered new schemas with namespaces:
  xmlns:prop="http://escidoc.de/core/01/properties/
  xmlns:srel="http://escidoc.de/core/01/structural-relations/

  - changed namespaces of direct child-elements of the element
  /item/properties:

  For elements creation-date, public-status,
  lock-status, lock-date, pid, version, latest-version,
  latest-release, content-domain-specific changed a namespace
  from http://www.escidoc.de/schemas/item/0.3
  to http://escidoc.de/core/01/properties/
  For elements created-by, context, content-domain, lock-owner
  changed a namespace
  from http://www.escidoc.de/schemas/item/0.3
  to http://escidoc.de/core/01/structural-relations/

  - Implicit the element-type of the element /item/properties/public-status
  has been changed.
  States of all escidoc resources are allowed values of the 'public-status'
  since version 0.4. In the version 0.3 the allowed values were restricted
  to the states of the resource item.

  -changed namespaces of child-elements of the element
  /item/properties/version:
  For elements number, date, comment, pid changed a namespace
  from http://www.escidoc.de/schemas/item/0.3
  to http://escidoc.de/core/01/properties/version/
  For element modified-by changed a namespace
  from http://www.escidoc.de/schemas/item/0.3
  to http://escidoc.de/core/01/structural-relations/

  -changed a name and a namespace of the element /item/properties/version/version-status:

  from {http://www.escidoc.de/schemas/item/0.3}version-status
  to {http://escidoc.de/core/01/properties/version/}status

  -Implicit deleted the element /item/properties/version/valid-status

  -changed namespaces of all child-elements of the element
  /item/properties/latest-version:
  from http://www.escidoc.de/schemas/item/0.3
  to http://escidoc.de/core/01/properties/version/

  -changed namespaces of all child-elements of the element
  /item/properties/latest-release:

  from http://www.escidoc.de/schemas/item/0.3
  to http://escidoc.de/core/01/properties/release/

  - March, 2008
  - version changed to 0.5.

  -changed namespaces of refered schemas:
  from http://www.escidoc.de/schemas/components/0.4
  to http://www.escidoc.de/schemas/components/0.5

  - April, 2008
  - version changed to 0.6

  -changed namespaces of refered schemas:
  from http://www.escidoc.de/schemas/components/0.5
  to http://www.escidoc.de/schemas/components/0.6

  - Added first version of content-stream elements "content-streams".

  - Mai, 2008
  - version changed to 0.7

  -changed namespaces of refered schemas:
  from http://www.escidoc.de/schemas/components/0.6
  to http://www.escidoc.de/schemas/components/0.7

  - Added a new child element to /item/properties:
  {http://escidoc.de/core/01/properties/}public-status-comment.

  March, 2009
  - version changed to 0.8
  - Changed namespace of refered component schema (0.7 to 0.8).

  July, 2009
  - version changed to 0.9
  - added the optional attribute "origin" to element "item"
  - Changed namespace of refered component schema (0.8 to 0.9).
  - Changed namespace of refered md-records schema (0.4 to 0.5).
  - Changed namespace of refered  content-streams schema (0.6 to 0.7).

  June, 2010
  - version changed to 0.10
  - namespaces of refered schemas changed:
  - Item namespace from 0.9 to 0.10
  - Container namespace from 0.8 to 0.9

  August 2012
  - version changed to 1.0
  - change namespace-identifiers to http://www.escidoc.org/schemas/<resource>/1.0/<xsd-name>

-->
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://www.escidoc.org/schemas/item/1.0/item"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:relations="http://www.escidoc.org/schemas/common/1.0/relations"
           xmlns:md-records="http://www.escidoc.org/schemas/common/1.0/md-records"
           xmlns:content-streams="http://www.escidoc.org/schemas/common/1.0/content-streams"
           xmlns:common-types="http://www.escidoc.org/schemas/common/1.0/common-types"
           xmlns:item="http://www.escidoc.org/schemas/item/1.0/item"
           xmlns:components="http://www.escidoc.org/schemas/item/1.0/components"
           xmlns:prop="http://www.escidoc.org/schemas/common/1.0/properties"
           xmlns:srel="http://www.escidoc.org/schemas/common/1.0/structural-relations">

  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/properties" schemaLocation="http://www.escidoc.org/schemas/common/1.0/properties.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/structural-relations" schemaLocation="http://www.escidoc.org/schemas/common/1.0/structural-relations.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/md-records" schemaLocation="http://www.escidoc.org/schemas/common/1.0/md-records.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/content-streams" schemaLocation="http://www.escidoc.org/schemas/common/1.0/content-streams.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/relations" schemaLocation="http://www.escidoc.org/schemas/common/1.0/relations.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/common-types" schemaLocation="http://www.escidoc.org/schemas/common/1.0/common-types.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/item/1.0/components" schemaLocation="http://www.escidoc.org/schemas/item/1.0/components.xsd"/>

  <xs:element name="item" type="item:itemType"/>
  <xs:element name="properties" type="item:itemPropertiesType"/>
  <xs:element name="resources" type="item:itemResourcesType"/>
  <xs:element name="version-history" type="common-types:readOnlyLink"/>
  <xs:element name="parents" type="common-types:readOnlyLink"/>
  <xs:element name="relations" type="common-types:readOnlyLink"/>

  <xs:complexType name="itemType">
    <xs:annotation>
      <xs:documentation>
        <para>
          Following you will find information which elements and attributes are "required", "optional", "not-allowed"
          or will be "discarded" in the input XML-stream when creating or updating such an object.
        </para>
        <para>
          In "create" the rule for creating a new object is defined.
        </para>
        <para>
          In "update" the rule for updating an object is defined.
        </para>
        <para>
          Possible values are: required | optional | not-allowed | discarded
        </para>
        <para>
          required: this element or attribute has to be delivered
        </para>
        <para>
          optional: this element or attribute can be delivered and will be kept
        </para>
        <para>
          not-allowed: this element or attribute is not allowed in delivery and will cause an exception
        </para>
        <para>
          discarded: this element or attribute can be delivered but will not be used; the system will generate a value
          which is delivered in this element or attribute when retrieved
        </para>
      </xs:documentation>
      <xs:documentation>
        <create>required</create>
        <update>required</update>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="item:properties">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="md-records:md-records" minOccurs="0"/>
      <xs:element ref="content-streams:content-streams" minOccurs="0"/>
      <xs:element ref="components:components" minOccurs="0"/>
      <xs:element ref="relations:relations" minOccurs="0"/>
      <xs:element ref="item:resources" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:eSciDocResourceIdentityAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
  </xs:complexType>

  <xs:complexType name="itemPropertiesType">
    <xs:complexContent>
      <xs:extension base="prop:commonPropertiesType">
        <xs:sequence>
          <xs:element ref="prop:public-status" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:public-status-comment" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="srel:context" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>required</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="srel:content-model" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>required</create>
                <update>discarded</update>
                <comment>not finalized yet</comment>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="srel:origin" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>required</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:lock-status" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:lock-date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="srel:lock-owner" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:pid" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>optional</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:version" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:latest-version" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:latest-release" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:content-model-specific" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>optional</create>
                <update>required</update>
                <comment>Does not appear until once set. Then required. Deprecated; use md-record instead.
                </comment>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="common-types:eSciDocResourceIdentityAttributes"/>
        <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="itemResourcesType">
    <xs:sequence>
      <xs:element ref="item:version-history" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="item:parents" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="item:relations" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
  </xs:complexType>
</xs:schema>