dataobjects-spec/src/main/xsdsave/role/1.0/role.xsd


<!--
    Changes applied to this schema since Version 0.3:
    - Version changed to 0.4.
    
    - Changed namespace (both xmlns and targetNamespace) to http://www.escidoc.de/schemas/role/0.4.
    
    - Changed namespaces of referenced schema  http://www.escidoc.de/schemas/commontypes/0.4
    
    - Added namespace of referenced schemas
      http://escidoc.de/core/01/properties/
      http://escidoc.de/core/01/structural-relations/
      
    - Replaced rest attributes (xlink:type, xlink:title, xlink:href, xml:base) in role element 
      with references to appropriate attribute groups in common-types.xsd.
    
    - Changed namespaces of contents of the element /role/properties 
      to http://escidoc.de/core/01/properties/ for following elements:
      * creation-date,
      * name,
      * description
      
      to http://escidoc.de/core/01/structural-relations/ for following elements:
      * created-by
      * modified-by
      
   Changes applied to this schema since Version 0.4:
   - Version changed to 0.5
   - Add attribute relation-attribute-object-type to element scope-def
     Either both relation-attribute-id and relation-attribute-object-type
     have to be provided or none of both. relation-attribute-object-type is used 
     to check object-type of scope of grant for this role against "allowed" scope-object-types.
      
  August 2012
  - version changed to 1.0
  - change namespace-identifiers to http://www.escidoc.org/schemas/<resource>/1.0/<xsd-name>

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:prop="http://www.escidoc.org/schemas/common/1.0/properties"
           xmlns:srel="http://www.escidoc.org/schemas/common/1.0/structural-relations"
           xmlns:common-types="http://www.escidoc.org/schemas/common/1.0/common-types"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:xacml-policy="urn:oasis:names:tc:xacml:1.0:policy"
           xmlns:role="http://www.escidoc.org/schemas/role/1.0/role"
           targetNamespace="http://www.escidoc.org/schemas/role/1.0/role"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.escidoc.org/schemas/common/1.0/xml.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/properties" schemaLocation="http://www.escidoc.org/schemas/common/1.0/properties.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/structural-relations" schemaLocation="http://www.escidoc.org/schemas/common/1.0/structural-relations.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/common-types" schemaLocation="http://www.escidoc.org/schemas/common/1.0/common-types.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.escidoc.org/schemas/common/1.0/xlink.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:xacml:1.0:policy" schemaLocation="http://www.escidoc.org/schemas/pdp/1.0/cs-xacml-schema-policy-01.xsd"/>

  <xs:element name="role" type="role:roleType"/>
  <xs:element name="properties" type="role:rolePropertiesType"/>
  <xs:element name="scope" type="role:scopeType"/>
  <xs:element name="scope-def" type="role:scopeDefType"/>
  <xs:element name="resources" type="role:roleResourcesType"/>

  <xs:complexType name="roleType">
    <xs:annotation>
      <xs:documentation>
        <para>
          Following you will find information which elements and attributes are "required", "optional", "not-allowed"
          or will be "discarded" in the input XML-stream when creating or updating such an object.
        </para>
        <para>
          In "create" the rule for creating a new object is defined.
        </para>
        <para>
          In "update" the rule for updating an object is defined.
        </para>
        <para>
          Possible values are: required | optional | not-allowed | discarded
        </para>
        <para>
          required: this element or attribute has to be delivered
        </para>
        <para>
          optional: this element or attribute can be delivered and will be kept
        </para>
        <para>
          not-allowed: this element or attribute is not allowed in delivery and will cause an exception
        </para>
        <para>
          discarded: this element or attribute can be delivered but will not be used
        </para>
      </xs:documentation>
      <xs:documentation>
        <create>required</create>
        <update>required</update>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="role:properties">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="role:resources" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="role:scope">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
          </xs:documentation>
        </xs:annotation>
        <xs:element ref="xacml-policy:PolicySet"/>
        <xs:element ref="xacml-policy:Policy"/>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:eSciDocResourceIdentityAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
  </xs:complexType>

  <xs:complexType name="rolePropertiesType">
    <xs:complexContent>
      <xs:extension base="prop:commonPropertiesType">
        <xs:sequence>
          <xs:element ref="srel:modified-by" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:name">
            <xs:annotation>
              <xs:documentation>
                <create>required</create>
                <update>required</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="prop:description" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <create>optional</create>
                <update>optional</update>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="scopeType">
    <xs:sequence>
      <xs:element ref="role:scope-def" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required (see note 1.)</update>
            <comment>
              1. If none provided in update, all scope defs are removed, i.e. the role becomes an unlimited one.
            </comment>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="unlimited" type="xs:boolean" default="false" use="optional">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="scopeDefType">
    <xs:attribute name="resource-type" type="role:object-types" use="required">
      <xs:annotation>
        <xs:documentation>
          <create>required</create>
          <update>required</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="relation-attribute-id" type="xs:token">
      <xs:annotation>
        <xs:documentation>
          <create>optional (see note 1.)</create>
          <update>optional (see note 2.)</update>
          <comment>
            1. Either both relation-attribute-id and relation-attribute-object-type has to be provided or none of both.
          </comment>
          <comment>
            2. If not provided in update, the relation-attribute-id is removed from the scope-def.Either both
            relation-attribute-id and relation-attribute-object-type has to be provided or none of both.
          </comment>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="relation-attribute-object-type" type="role:object-types">
      <xs:annotation>
        <xs:documentation>
          <create>optional (see note 1.)</create>
          <update>optional (see note 2.)</update>
          <comment>
            1. Either both relation-attribute-id and relation-attribute-object-type has to be provided or none of both.
          </comment>
          <comment>
            2. If not provided in update, the relation-attribute-object-type is removed from the scope-def. Either both
            relation-attribute-id and relation-attribute-object-type has to be provided or none of both.
          </comment>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="roleResourcesType">
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:type">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="common-types:lmdOptional">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded (see note 3.)</update>
          <comment>
            3. This attribute is contained if the resources element is retrieved as a sub resource. It is not contained
            in the resources element within the user-account element.
          </comment>
        </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute ref="xml:base">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded (see note 4.)</update>
          <comment>
            4. This attribute is contained if the resources element is retrieved as a sub resource. It is not contained
            in the resources element within the user-account element.
          </comment>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="object-types">
    <xs:restriction base="xs:token">
      <xs:enumeration value="aggregation-definition"/>
      <xs:enumeration value="context"/>
      <xs:enumeration value="content-model"/>
      <xs:enumeration value="container"/>
      <xs:enumeration value="item"/>
      <xs:enumeration value="component"/>
      <xs:enumeration value="content-relation"/>
      <xs:enumeration value="organizational-unit"/>
      <xs:enumeration value="preprocessing"/>
      <xs:enumeration value="report"/>
      <xs:enumeration value="report-definition"/>
      <xs:enumeration value="scope"/>
      <xs:enumeration value="staging-file"/>
      <xs:enumeration value="statistic-data"/>
      <xs:enumeration value="user-account"/>
      <xs:enumeration value="user-group"/>
      <xs:enumeration value="grant"/>
      <xs:enumeration value="role"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
