common/src/main/xsd/rest/common/0.4/common-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ CDDL HEADER START
  ~
  ~ The contents of this file are subject to the terms of the Common Development and Distribution License, Version 1.0
  ~ only (the "License"). You may not use this file except in compliance with the License.
  ~
  ~ You can obtain a copy of the license at license/ESCIDOC.LICENSE or http://www.escidoc.de/license. See the License for
  ~ the specific language governing permissions and limitations under the License.
  ~
  ~ When distributing Covered Code, include this CDDL HEADER in each file and include the License file at
  ~ license/ESCIDOC.LICENSE. If applicable, add the following below this CDDL HEADER, with the fields enclosed by
  ~ brackets "[]" replaced with your own identifying information: Portions Copyright [yyyy] [name of copyright owner]
  ~
  ~ CDDL HEADER END
  ~
  ~ Copyright 2006-2011 Fachinformationszentrum Karlsruhe Gesellschaft fuer wissenschaftlich-technische Information mbH
  ~ and Max-Planck-Gesellschaft zur Foerderung der Wissenschaft e.V. All rights reserved. Use is subject to license
  ~ terms.
  -->

<!--
	Changes applied to this schema (since version 0.4, July 2009):
	  
	July, 2009
	- version changed to ??????????????????????????????????
	- refers to xml and xlink in version 0.4
	- removed declaration of prefix 'xml', Internet Explorer complains
	
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:common="http://www.escidoc.de/schemas/commontypes/0.4"
    targetNamespace="http://www.escidoc.de/schemas/commontypes/0.4">
    <xs:import namespace="http://www.w3.org/1999/xlink"
        schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/xlink.xsd" />
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/xml.xsd" />
    
    <xs:complexType name="linkRequired">
        <xs:attribute ref="xlink:type" fixed="simple">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href" use="required">
            <xs:annotation>
                <xs:documentation>
                    <create>required</create>
                    <update>required</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="link">
        <xs:attributeGroup ref="common:eSciDocResourceLinkAttributes" />
    </xs:complexType>
    <xs:complexType name="linkForCreate">
        <xs:attribute ref="xlink:type" fixed="simple">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href">
            <xs:annotation>
                <xs:documentation>
                    <create>required</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="readOnlyLink">
        <xs:attributeGroup
            ref="common:readOnlyESciDocResourceLinkAttributes" />
    </xs:complexType>

    <xs:complexType name="laxLinkContainer">
        <xs:attributeGroup
            ref="common:laxESciDocResourceLinkAttributesContainer" />
    </xs:complexType>
    <xs:complexType name="linkWithoutObjid">
        <xs:attributeGroup ref="common:eSciDocResourceLinkAttributes" />
    </xs:complexType>

    <!-- 
        Use eSciDocResourceLinkAttributes for elements which refer to a not-included
        resource as there are elements refering to a base-resource, to a virtual 
        resource. One indication for such resources is if the href includes
        the objid of the current (the link element is stated in) resource.
        (see eSciDocResourceIdentityAttributes below)
    -->
    <xs:attributeGroup name="eSciDocResourceLinkAttributes">
        <xs:attribute ref="xlink:type" fixed="simple">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href">
            <xs:annotation>
                <xs:documentation>
                    <create>depends on the element</create>
                    <update>depends on the element</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="readOnlyESciDocResourceLinkAttributes">
        <xs:attribute ref="xlink:type">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup
        name="laxESciDocResourceLinkAttributesContainer">
        <xs:attribute ref="xlink:type">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>optional</input>
                        <output>kept/new</output>
                    </create>
                    <update>
                        <input>required</input>
                        <output>kept</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>not allowed</input>
                        <output>new</output>
                    </create>
                    <update>
                        <input>required</input>
                        <output>kept</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href" use="required">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>required</input>
                        <output>kept</output>
                    </create>
                    <update>
                        <input>required</input>
                        <output>kept</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <!-- 
        Use eSciDocResourceIdentityAttributes for elements which use xlink
        and objid to state there identity and location.
        (see eSciDocResourceLinkAttributes above)
    -->
    <xs:attributeGroup name="eSciDocResourceIdentityAttributes">
        <xs:attribute ref="xlink:type" fixed="simple">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <!-- 
        Use eSciDocResourceLocationAttributes for elements which use xlink
        to state there location.
        (see eSciDocResourceIdentityAttributes above)
    -->
    <xs:attributeGroup name="eSciDocResourceLocationAttributes">
        <xs:attribute ref="xlink:type" fixed="simple">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:simpleType name="objid">
        <xs:annotation>
            <xs:documentation>
                The type of eSciDoc resource identifiers.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:maxLength value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup
        name="laxESciDocResourceLocationAttributesContainer">
        <xs:attribute ref="xlink:type">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>optional</input>
                        <output>new/kept</output>
                    </create>
                    <update>
                        <input>required</input>
                        <output>kept</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>not allowed</input>
                        <output>new</output>
                    </create>
                    <update>
                        <input>required</input>
                        <output>kept</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>not allowed</input>
                        <output>new</output>
                    </create>
                    <update>
                        <input>required</input>
                        <output>kept</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="laxESciDocResourceLocationAttributes">
        <xs:attribute ref="xlink:type">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>optional</input>
                        <output>new/kept</output>
                    </create>
                    <update>
                        <input>optional</input>
                        <output>new/kept</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:title">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>not allowed</input>
                        <output>new</output>
                    </create>
                    <update>
                        <input>optional</input>
                        <output>new</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xlink:href">
            <xs:annotation>
                <xs:documentation>
                    <create>
                        <input>not allowed</input>
                        <output>new</output>
                    </create>
                    <update>
                        <input>optional</input>
                        <output>kept/new</output>
                    </update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="eSciDocRootElementAttributes">
        <xs:attribute ref="xml:base">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="last-modification-date"
            type="xs:dateTime">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>required</update>
                    <comment>required only in root element on update</comment>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="eSciDocRootElementReadOnlyAttributes">
        <xs:attribute ref="xml:base">
            <xs:annotation>
                <xs:documentation>
                    <create>discarded</create>
                    <update>discarded</update>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
</xs:schema>