integration-tests/src/test/java/de/escidoc/core/test/sb/SingleLine2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PATDOC" type="documentType"/>
	<xs:complexType name="documentType" mixed="true">
		<xs:sequence>
			<xs:element name="SDOBI" minOccurs="0"/>
			<xs:element name="SDOAB" minOccurs="0"/>
			<xs:element name="SDODE"/>
			<xs:element name="SDOCL"/>
		</xs:sequence>
			<xs:attribute name="CY"/>
			<xs:attribute name="DNUM"/>
			<xs:attribute name="DATE"/>
			<xs:attribute name="FILE"/>
			<xs:attribute name="KIND"/>
			<xs:attribute name="STATUS"/>
	</xs:complexType>
</xs:schema>
