dataobjects-spec/src/main/resources/xsd/permission-filter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.escidoc.de/schemas/permission-filter/0.6"
           xmlns:filter="http://www.escidoc.de/schemas/permission-filter/0.6"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:element name="result" type="filter:resultType"/>
  <xs:element name="filter" type="xs:string"/>

  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element ref="filter:filter"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>