dataobjects-spec/src/main/resources/xsd/common/1.0/common-types.xsd


<!-- 
	Changes applied to this schema (since version 0.4, July 2009):
	  
	July, 2009
	- version changed to ??????????????????????????????????
	- refers to xml and xlink in version 0.4
	- removed declaration of prefix 'xml', Internet Explorer complains

	February, 2012
	- Added simple types enumerations.
    
  August 2012
  - version changed to 1.0
  - change namespace-identifiers to http://www.escidoc.org/schemas/<resource>/1.0/<xsd-name>

 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:common="http://www.escidoc.org/schemas/common/1.0/common-types"
           targetNamespace="http://www.escidoc.org/schemas/common/1.0/common-types"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../common/1.0/xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../../common/1.0/xml.xsd"/>

  <xs:complexType name="linkRequired">
    <xs:attribute ref="xlink:type" fixed="simple">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href" use="required">
      <xs:annotation>
        <xs:documentation>
          <create>required</create>
          <update>required</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="link">
    <xs:attributeGroup ref="common:eSciDocResourceLinkAttributes"/>
  </xs:complexType>

  <xs:complexType name="linkForCreate">
    <xs:attribute ref="xlink:type" fixed="simple">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation>
          <create>required</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="readOnlyLink">
    <xs:attributeGroup ref="common:readOnlyESciDocResourceLinkAttributes"/>
  </xs:complexType>

  <xs:complexType name="laxLinkContainer">
    <xs:attributeGroup ref="common:laxESciDocResourceLinkAttributesContainer"/>
  </xs:complexType>

  <xs:complexType name="linkWithoutObjid">
    <xs:attributeGroup ref="common:eSciDocResourceLinkAttributes"/>
  </xs:complexType>

  <!--
      Use eSciDocResourceLinkAttributes for elements which refer to a not-included
      resource as there are elements referring to a base-resource, to a virtual
      resource. One indication for such resources is if the href includes
      the objid of the current (the link element is stated in) resource.
      (see eSciDocResourceIdentityAttributes below)
  -->
  <xs:attributeGroup name="eSciDocResourceLinkAttributes">
    <xs:attribute ref="xlink:type" fixed="simple">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation>
          <create>depends on the element</create>
          <update>depends on the element</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="readOnlyESciDocResourceLinkAttributes">
    <xs:attribute ref="xlink:type">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="laxESciDocResourceLinkAttributesContainer">
    <xs:attribute ref="xlink:type">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>optional</input>
            <output>kept/new</output>
          </create>
          <update>
            <input>required</input>
            <output>kept</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>not allowed</input>
            <output>new</output>
          </create>
          <update>
            <input>required</input>
            <output>kept</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href" use="required">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>required</input>
            <output>kept</output>
          </create>
          <update>
            <input>required</input>
            <output>kept</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
      Use eSciDocResourceIdentityAttributes for elements which use xlink
      and objid to state there identity and location.
      (see eSciDocResourceLinkAttributes above)
  -->
  <xs:attributeGroup name="eSciDocResourceIdentityAttributes">
    <xs:attribute ref="xlink:type" fixed="simple">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
      Use eSciDocResourceLocationAttributes for elements which use xlink
      to state there location.
      (see eSciDocResourceIdentityAttributes above)
  -->
  <xs:attributeGroup name="eSciDocResourceLocationAttributes">
    <xs:attribute ref="xlink:type" fixed="simple">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="objid">
    <xs:annotation>
      <xs:documentation>
        The type of eSciDoc resource identifiers.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="laxESciDocResourceLocationAttributesContainer">
    <xs:attribute ref="xlink:type">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>optional</input>
            <output>new/kept</output>
          </create>
          <update>
            <input>required</input>
            <output>kept</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>not allowed</input>
            <output>new</output>
          </create>
          <update>
            <input>required</input>
            <output>kept</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>not allowed</input>
            <output>new</output>
          </create>
          <update>
            <input>required</input>
            <output>kept</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="laxESciDocResourceLocationAttributes">
    <xs:attribute ref="xlink:type">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>optional</input>
            <output>new/kept</output>
          </create>
          <update>
            <input>optional</input>
            <output>new/kept</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>not allowed</input>
            <output>new</output>
          </create>
          <update>
            <input>optional</input>
            <output>new</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href">
      <xs:annotation>
        <xs:documentation>
          <create>
            <input>not allowed</input>
            <output>new</output>
          </create>
          <update>
            <input>optional</input>
            <output>kept/new</output>
          </update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="eSciDocRootElementAttributes">
    <xs:attributeGroup ref="common:eSciDocRootElementReadOnlyAttributes">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="common:lmdOptional">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>required</update>
          <comment>required only in root element on update</comment>
        </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:attributeGroup>

  <xs:attributeGroup name="eSciDocRootElementReadOnlyAttributes">
    <xs:attribute ref="xml:base">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="status-type">
    <xs:restriction base="xs:token">
      <xs:enumeration value="created"/>
      <xs:enumeration value="opened"/>
      <xs:enumeration value="closed"/>
      <xs:enumeration value="pending"/>
      <xs:enumeration value="submitted"/>
      <xs:enumeration value="in-revision"/>
      <xs:enumeration value="released"/>
      <xs:enumeration value="withdrawn"/>
      <xs:enumeration value="created"/>
      <xs:enumeration value="opened"/>
      <xs:enumeration value="closed"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="valid-status-type">
    <xs:restriction base="xs:token">
      <xs:enumeration value="valid"/>
      <xs:enumeration value="invalid"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lock-status-type">
    <xs:restriction base="xs:token">
      <xs:enumeration value="locked"/>
      <xs:enumeration value="unlocked"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NEW: -->

  <xs:attributeGroup name="lmdRequired">
    <xs:attribute name="last-modification-date" type="xs:dateTime" use="required"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="lmdOptional">
    <xs:attribute name="last-modification-date" type="xs:dateTime" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="listAttributes">
    <xs:attribute name="number-of-records" type="xs:nonNegativeInteger" use="optional">
      <xs:annotation>
        <xs:documentation>
          The total number of records found.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="offset" type="xs:nonNegativeInteger" use="optional">
      <xs:annotation>
        <xs:documentation>
          The start-record.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="limit" type="xs:nonNegativeInteger" use="optional">
      <xs:annotation>
        <xs:documentation>
          The maximum number of records returned.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="storageType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="internal-managed"/>
      <xs:enumeration value="external-url"/>
      <xs:enumeration value="external-managed"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NCName64">
    <xs:annotation>
      <xs:documentation>
        The NCName type limited to 64 characters.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName">
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>