dataobjects-spec/src/main/resources/xsd/common/1.0/content-streams.xsd

<!--
	Changes applied to this schema (since Version 06, July, 2009):
	- Juli, 2009
	- version changed to 07.
	
	- modified namespace (both xmlns and targetNamespace)
	  from http://www.escidoc.de/schemas/contentstreams/0.6
	  to http://www.escidoc.de/schemas/contentstreams/0.7
	- added an optional attribute "origin" to an element "content-stream"
	- changed a type of attribute content-streams/content-stream/@name
    
  August 2012
  - version changed to 1.0
  - change namespace-identifiers to http://www.escidoc.org/schemas/<resource>/1.0/<xsd-name>

	-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.escidoc.org/schemas/common/1.0/content-streams"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:content-streams="http://www.escidoc.org/schemas/common/1.0/content-streams"
           xmlns:common-types="http://www.escidoc.org/schemas/common/1.0/common-types"
           xmlns:xlink="http://www.w3.org/1999/xlink">

  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.escidoc.org/schemas/common/1.0/xlink.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/common-types" schemaLocation="http://www.escidoc.org/schemas/common/1.0/common-types.xsd"/>

  <xs:element name="content-streams" type="content-streams:contentStreamsType"/>
  <xs:element name="content-stream" type="content-streams:contentStreamType"/>

  <xs:complexType name="contentStreamsType">
    <xs:annotation>
      <xs:documentation>
        <create>optional</create>
        <update>optional</update>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="content-streams:content-stream" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <create>optional</create>
            <update>optional</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common-types:eSciDocResourceIdentityAttributes"/>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
    <xs:attribute name="inherited" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>
          <para>The existence of the attribute means that the contained element is not a native element of the contained
            resource, but borrowed from another resource.
          </para>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="contentStreamType">
    <xs:sequence>
      <xs:any minOccurs="0" processContents="skip"/>
    </xs:sequence>
    <xs:attribute name="inherited" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>
          <para>The existence of the attribute means that the contained element is not a native element of the contained
            resource, but borrowed from another resource.
          </para>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="common-types:NCName64" use="required"/>
    <xs:attribute name="storage" type="common-types:storageType" use="required"/>
    <xs:attribute name="mime-type" type="xs:token" use="required"/>
    <xs:attribute ref="xlink:type" fixed="simple">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:title" use="optional">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xlink:href" use="optional">
      <xs:annotation>
        <xs:documentation>
          <create>discarded</create>
          <update>discarded</update>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
  </xs:complexType>
</xs:schema>