dataobjects-spec/src/main/resources/xsd/common/1.0/properties.xsd

<!-- 
  Changes applied to this schema (since version 0.4, July 2009):
    
  August 2012
  - version changed to 1.0
  - change namespace-identifiers to http://www.escidoc.org/schemas/<resource>/1.0/<xsd-name>

 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.escidoc.org/schemas/common/1.0/properties"
           xmlns:prop="http://www.escidoc.org/schemas/common/1.0/properties"
           xmlns:version="http://www.escidoc.org/schemas/common/1.0/version"
           xmlns:release="http://www.escidoc.org/schemas/common/1.0/release"
           xmlns:srel="http://www.escidoc.org/schemas/common/1.0/structural-relations"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://www.escidoc.org/schemas/common/1.0/common-types">

  <xs:annotation>
    <xs:documentation>The term "raw source of a resource" refers to the object or simply the
      data behind a resource. What is usually meant with the physical representation of a
      resource where every representation is derived from.
    </xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/version" schemaLocation="../../common/1.0/version.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/release" schemaLocation="../../common/1.0/release.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/structural-relations" schemaLocation="../../common/1.0/structural-relations.xsd"/>
  <xs:import namespace="http://www.escidoc.org/schemas/common/1.0/common-types" schemaLocation="../../common/1.0/common-types.xsd"/>

  <xs:element name="locator-url" type="xs:string">
    <xs:annotation>
      <xs:documentation>Needed? Should be described.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="name" type="xs:string">
    <xs:annotation>
      <xs:documentation>A name of the resource. Equivalent to
        {http://purl.org/dc/elements/1.1/}title.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="description" type="xs:string">
    <xs:annotation>
      <xs:documentation>An account of the resource. Description may include but is not
        limited to: an abstract, a table of contents, a graphical representation, or a
        free-text account of the resource. Equivalent to
        {http://purl.org/dc/elements/1.1/}description.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="login-name" type="xs:string">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="email" type="xs:string">
    <xs:annotation>
      <xs:documentation>The email address of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="creation-date" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The creation date of the raw source of a resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="public-status" type="common:status-type">
    <xs:annotation>
      <xs:documentation>The status of the resource that expresses the usability and
        visibility of the resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="public-status-comment" type="xs:token">
    <xs:annotation>
      <xs:documentation>The comment while changing of the public-status.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="active" type="xs:boolean">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="visibility" type="xs:token">
    <xs:annotation>
      <xs:documentation>The name of a scope in which the resource is visible. This kind of
        visibility overrides access rights.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="label" type="xs:token">
    <xs:annotation>
      <xs:documentation>The label of the resource, has to be unique in the repository scope
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="valid-status" type="common:valid-status-type">
    <xs:annotation>
      <xs:documentation>Component valid-status.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="type" type="xs:token">
    <xs:annotation>
      <xs:documentation>Type of the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="has-children" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Indicates if a resource has children. A resource has children if
        there exists a parent-to-child or child-to-parent relation with another resource
        where the resource is in the parent role. Usually the resource refers to its
        children by an appropriate predicate.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="lock-date" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The date when a resource is locked. If a resource is locked only
        http://www.escidoc.de/ontologies/properties/lock-owner should be able to modify the
        resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="lock-status" type="common:lock-status-type">
    <xs:annotation>
      <xs:documentation>Indicates if a resource is locked.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="content-category" type="xs:string">
    <xs:annotation>
      <xs:documentation>A notion of the type of content the resource represents.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="file-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name under which the file associated with the resource should be
        delivered.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="mime-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The mime-type of the file associated with the resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="file-size" type="xs:string">
    <xs:annotation>
      <xs:documentation>The size of the file associated with the resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="checksum" type="xs:token">
    <xs:annotation>
      <xs:documentation>The checksum of the file associated with the resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="checksum-algorithm" type="prop:checksumAlgorithmType">
    <xs:annotation>
      <xs:documentation>The algorithm used to calculate the checksum of the file associated
        with the resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- PID -->
  <xs:element name="pid" type="xs:string">
    <xs:annotation>
      <xs:documentation>A globally unique and persistent Identifier of the resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- content domain specific properties; may be defined by solution -->
  <xs:element name="content-model-specific" type="prop:cmsType">
    <xs:annotation>
      <xs:documentation>Container for properties defined in a content model description.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- versions -->
  <xs:element name="version" type="prop:versionType">
    <xs:annotation>
      <xs:documentation>Refers to an abstract resource that describe a resources
        version.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="latest-version" type="prop:latestVersionType">
    <xs:annotation>
      <xs:documentation>Refers to an abstract resource that describes the latest version of a
        resource.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="latest-release" type="prop:latestReleaseType">
    <xs:annotation>
      <xs:documentation>Refers to an abstract resource that describe a resources latest
        release.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- external names -->
  <xs:element name="context-title" type="xs:string">
    <xs:annotation>
      <xs:documentation>The title of another resource. Internal use only. Only
        specializations should be used.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="content-model-title" type="xs:string">
    <xs:annotation>
      <xs:documentation>Specialisation of
        &lt;http://www.escidoc.de/ontologies/properties/external-title&gt;. Internal
        use only.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="created-by-title" type="xs:string">
    <xs:annotation>
      <xs:documentation>Specialisation of
        &lt;http://www.escidoc.de/ontologies/properties/external-title&gt;. Internal
        use only.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="modified-by-title" type="xs:string">
    <xs:annotation>
      <xs:documentation>Specialisation of
        &lt;http://www.escidoc.de/ontologies/properties/external-title&gt;. Internal
        use only.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="grant-remark" type="xs:string">
    <xs:annotation>
      <xs:documentation>A remark for granting a role to a user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="revocation-remark" type="xs:string">
    <xs:annotation>
      <xs:documentation>A remark for revoking a role from a user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="revocation-date" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The revocation date of a grant.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="external-ids" type="prop:externalIdsType"/>
  <xs:element name="external-id" type="xs:string"/>
  <xs:element name="organizational-units" type="prop:organizationalUnitsType"/>
  <xs:element name="affiliations" type="prop:affiliationsType">
    <xs:annotation>
      <xs:documentation>List of affiliations related to a user account.
        <create>optional</create>
        <update>optional (see note 2.)</update>
        <comment>2. If this element is not provided during update, all affiliations are
          removed from the user account.
        </comment>
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="checksumAlgorithmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MD5"/>
      <xs:enumeration value="SHA-1"/>
      <xs:enumeration value="SHA-256"/>
      <xs:enumeration value="SHA-384"/>
      <xs:enumeration value="SHA-512"/>
      <xs:enumeration value="HAVAL"/>
      <xs:enumeration value="TIGER"/>
      <xs:enumeration value="WHIRLPOOL"/>
      <xs:enumeration value="DISABLED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="cmsType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="versionType">
    <xs:sequence>
      <xs:element ref="version:number" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="version:date" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="version:status" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srel:modified-by" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="version:comment" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="version:pid" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common:readOnlyESciDocResourceLinkAttributes"/>
  </xs:complexType>

  <xs:complexType name="latestVersionType">
    <xs:sequence>
      <xs:element ref="version:number" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="version:date" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common:readOnlyESciDocResourceLinkAttributes"/>
  </xs:complexType>

  <xs:complexType name="latestReleaseType">
    <xs:sequence>
      <xs:element ref="release:number" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="release:date" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="release:pid" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="common:readOnlyESciDocResourceLinkAttributes"/>
  </xs:complexType>

  <xs:complexType name="externalIdsType">
    <xs:sequence>
      <xs:element ref="prop:external-id" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
            <comment>An external Identifier of the resource.</comment>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="organizationalUnitsType">
    <xs:sequence>
      <xs:element ref="srel:organizational-unit" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
            <comment>At least one organizational-unit element must exist if the
              parent element organizational-units exist. To remove all
              organizational unit during update, the parent element
              organizational-units has to be removed.
            </comment>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="affiliationsType">
    <xs:sequence>
      <xs:element ref="srel:affiliation" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <create>required</create>
            <update>required</update>
            <comment>At least one affiliation element must exist if the parent
              element affiliations exist. To remove all affiliations during
              update, the parent element affiliations has to be removed. One
              affiliation must be marked as the primary affiliation of the user.
            </comment>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commonPropertiesType">
    <xs:annotation>
      <xs:documentation>Common properties elements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="prop:creation-date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="srel:created-by" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <create>discarded</create>
            <update>discarded</update>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>